{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-cabinet-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- Carousel wrapper -->
<div class="container pt-6 pt-md-10">


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">

    {{ if .Site.Data.carousel.images }}
    {{ range $k, $v := .Site.Data.carousel.images }}
    {{ if .image_src }}
    {{ if not $k }}
    <div class="carousel-item active">
      {{ else }}
      <div class="carousel-item">
        {{ end }}
        <img class="d-block w-100" src="{{ .image_src }}" alt="Third slide">
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  </div>
  <!-- Carousel wrapper -->

  {{ if .Content }}
  <div class="container pt-6 pt-md-10 pb-6">
    <div class="row col-12 page-intro">
          {{ .Content }}
    </div>
  </div>
  {{ end }}

  <div class="container pb-6 pb-md-10">
    <div class="row">
      {{ range .Pages.ByWeight }}
      <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
      {{ end }}
    </div>
  </div>


  {{ end }}