.cabinet-summary {

  .cabinet-global {
    padding: 20px;
    border-bottom: 2px solid $primary;

    .cabinet-title {
      color: $primary;
      font-family: $font-family-heading;
    }

    p {
      color: #666;
      min-height: 150px;

    }

    h3 {
      font-size: 1.5rem;
    }

  }
}
