.cabinet-summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .cabinet-image {
    max-height: 300px;
    overflow: hidden;
    object-fit: cover;
    margin:0 auto;
    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
  .cabinet-global {
    padding: 20px;
    border-bottom: 2px solid $primary;

    .cabinet-title {
      color: $primary;
      font-family: $font-family-heading;
    }

    p {
      color: #666;
      min-height: 150px;

    }

    h3 {
      font-size: 1.5rem;
    }

  }
}
