.page-cabinet-list {

    h1.title {
        font-size: 3rem;
        font-family: $font-family-heading;
        color: $primary;
    }

    .cabinet-image {
        img {
            width: 100%;
            height: auto;
        }
    }

    .carousel-inner{
        height: 450px;
    }

    .content {
        ul {
            list-style-type: circle;

            strong {
                color: $primary;
                font-family: sans-serif, -apple-system;
            }
        }
    }

    .masonry {
        /* Masonry container */
        column-count: 3;
        column-gap: 1em;
    }

    .item {
        /* Masonry bricks or child elements */
        background-color: #eee;
        margin: 0 0 1em;
    }

}