.footer {
  //background: $primary;
  background: linear-gradient(90deg,$white calc(25% - .5rem),$primary calc(25% - .5rem));
  color: #d6d4d2;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);

  .footer-inner {
    //display: flex;
    justify-content: space-between;
    //flex-direction: column;
    //align-items: flex-start;
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }
  .footer-title {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: $font-family-heading;
    margin-bottom: 10px;
    flex: 0;
    @include media-breakpoint-up(sm) {
      margin: 0;
      flex: 0 0 120px;
    }
  }

  .table{
    --bs-table-bg: transparent;
    --bs-table-color: #d6d4d2!
  }


  .center{
    text-align: center;
  }

  .carpark-icon{
    //padding-top: 5px;
    //margin-top: 30px;
    margin-right: 1px;
  }

  .disabled-icon{
    fill: $primary;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    li {
      display: block;
      margin-right: 10px;
      color: lighten($secondary, 50%);
      font-size: 0.9rem;
      line-height: 1.8;
      &:last-of-type {
        margin-right: 0;
      }
      &.infos{
        color: $primary;
        font-size: 1.1rem;
        line-height: 1.8;
        font-weight: bolder;
      }
      &.businessName{
        text-decoration: underline;
      }
      a {
        //color: lighten($secondary, 50%);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.copyright {
        font-weight: bold;
        color: lighten($secondary, 50%);
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
    }

  }
}
